{% extends 'base.html.twig' %}

{% block carousel %} {% endblock %}

{% block content %}
    <div class="img-logo">
        <img src="{{ asset('imgLogo/logo.png') }}" id="imgLogo" class="img-fluid"/>
    </div>

    <h2 class="mb-5 mt-3 text-center">Nos Meilleurs Plats</h2>
    <div class="row row-cols-1 row-cols-md-2 g-4">

        {% for bestMenu in bestMenu%}
        <div class="col-md-4">
            <div class="card card-produit-home">
                <div id="img" class="img-produit">
                    <img src="/Uploads/{{ bestMenu.illustration }}" alt="{{ bestMenu.name }}" class="card-img-top" id="img-best">
                </div>
                <div class="card-body">
                    <h3 class="text-center mb-5">{{ bestMenu.name }}</h3>
                    <p>{{ bestMenu.description }}</p>
                    <h3 id="title-img" class="title-img">{{ bestMenu.titreIllustration }}</h3>
                    <p>{{ (bestMenu.price/100)|number_format(2, ',', '.') }} €</p>
                    <div class="text-center mt-5">
                        <a href="{{ path('app_reservation') }}" role="button" class=" text-center btn-reservation reservation-btn">Reserver</a>
                    </div>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>

    <hr class="featurette-divider">
    {% for menus in menu %}
    <div id="formule">



        <h2 class="title-produit text-center">{{ menus.titre }}</h2>
        <div class="container text-center">
            {% set foo = menus.formules %}
            <div class="row align-items-start df-home">
                {% for produit in foo %}
                    <div class="col">
                        <h6 class="mb-5">{{ produit.category }}</h6>
                       <h4 class="text-center mb-4">{{ produit.name }}</h4>
                       <p>{{ produit.description }}</p>
                       <p><span>{{ (produit.price / 100)|number_format(2, ',', '.')}} €</span></p>
                   </div>
                {% endfor %}

            </div>
        </div>
        <div class="text-center mt-5">
            <a href="{{ path('app_reservation') }}" role="button" class=" text-center btn-reservation-formule reservation-btn">Je Reserve !</a>
        </div>
    </div>


        {% endfor %}


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row">
        <div class="col-lg-12">
            {% if form_hours is not empty %}
                <div>
                    <div>
                        <div>
                            <h2 class="text-center"><span>Nos</span><br/> <span>Horaires d'ouverture</span></h2>

                        </div>
                    </div>
                    <div class="span-content-hours">
                        <hr class="featurette-divider span-hours">
                    </div>

                    <div class="day-hours mt-5">

                        {% for hour in form_hours %}
                            <div class="hours">
                                <p class="hour-jours text-center">{{ hour.jours }}</p>
                                <div >
                                    {% if hour.openHours %}
                                        <div class="hours-jours">
                                            <p class="mr-3">{{ hour.openHours|date('H:i') }}</p>
                                            <p class="hours-open-jours">{{ hour.closeHours|date('H:i') }}</p>
                                        </div>

                                    {% else %}

                                        <p colspan="2" class="text-center">Fermer</p>

                                    {% endif %}

                                    {% if hour.openhourssoir %}
                                        <div class="hours-jours">
                                            <p class="mr-3">{{ hour.openhourssoir|date('H:i') }}</p>
                                            <p>{{ hour.closehourssoir|date('H:i') }}</p>
                                        </div>

                                    {% else %}

                                        <p colspan="2" class="text-center">Fermer</p>

                                    {% endif %}



                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <p>Aucune heure d'ouverture n'est disponible pour le moment.</p>
            {% endif %}
        </div>
    </div>


    {% block javascript %}
    <script>
        let titleImgs = document.querySelectorAll('.title-img');
        let imgProducts = document.querySelectorAll('.img-produit');

        imgProducts.forEach((imgProduct, index) => {
        imgProduct.addEventListener('mouseover', () => {
            imgProduct.classList.add('img');
            titleImgs[index].style.display = "block";
        });

        imgProduct.addEventListener('mouseout', () => {
        imgProduct.classList.remove('img');
        titleImgs[index].style.display = "none";
    });
    });
    </script>
    {% endblock %}





    <!-- /END THE FEATURETTES -->
{% endblock %}
