{% extends 'base.html.twig' %}

{% block carousel %} {% endblock %}

{% block content %}
    <div id="acceuil">
        <div id="acceuil-container">

            <h4 class="text-center text-white ">RESTAURANT GASTRONOMIQUE</h4>

            <h1 class="text-center mt-4 title-home">LE QUAI ANTIQUE</h1>
            <div class="acceuil-btn mb-5">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
            </div>
            <div class="acceuil-btn mt-4">
                <a href="{{ path('app_reservation') }}" class="mr-3 btn btn-reservation-acceuil" role="button">réservation</a>
                <a href="{{ path('app_produits') }}" class="btn btn-menu-acceuil" role="button">Nos menus</a>
            </div>


        </div>

    </div>
    <div>
        <h2 class="mb-5 mt-5 text-center">Vos plats préférés</h2>
        <p class="text-center title-caroussel">"Découvrez une expérience culinaire d'exception au cœur de Chambéry,<br/> où la passion culinaire rencontre l'élégance raffinée dans notre restaurant gastronomique."</p>
    </div>
    <div id="background-bestMenu">
        <div class="container marketing mt-5">

            <div class="row row-cols-1 row-cols-md-2 g-4 pt-5 pb-5" id="bestMenu-content">

                {% for bestMenu in bestMenu %}
                <div class="col-lg-12">
                    <div class="card-produit-home d-flex">
                        {% if bestMenu.illustration %}
                            <div id="img" class="img-produit">
                                <img src="/Uploads/{{ bestMenu.illustration }}" alt="{{ bestMenu.name }}" class="card-img-top" id="img-best">
                            </div>
                        {% endif %}
                        <div class="card-produit-content">
                            <h3 class="text-center mb-2 clamped-text1">{{ bestMenu.name }}</h3>
                            <p class="clamped-text3">{{ bestMenu.description }}</p>
                            <h3 id="title-img" class="title-img mt-2">{{ bestMenu.titreIllustration }}</h3>
                            <p>{{ (bestMenu.price/100)|number_format(2, ',', '.') }} €</p>
                            <div class="text-center mt-5">
                                <a href="{{ path('app_produits') }}" role="button" class="btn-voir-menu">Voir tous nos menus</a>
                                <a href="{{ path('app_reservation') }}" role="button" class=" text-center btn-reservation reservation-btn">Réserver</a>
                            </div>
                        </div>

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <hr class="featurette-divider container marketing text-center mx-auto">
    <div class="mb-5">
        <h4 class="text-center title-caroussel">"Savourez l'excellence culinaire et laissez-vous enchanter par les saveurs sublimes dans notre restaurant gastronomique,<br/>
        où chaque plat est une œuvre d'art pour les papilles."</h4>
    </div>

    <div id="myCarousel" class="carousel slide mt-5" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for key,caroussel in caroussel %}
            <li data-target="#myCarousel" data-slide-to="{{ key }}" {% if key == 0 %} class="active" {% endif %}></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner ">
            {% for key,caroussel in caroussel %}
            <div class="carousel-item {% if key == 0 %}active{% endif %}" style="background: url('/Uploads/{{ caroussel.illustration }}'); background-size: cover">
                <div class="container">
                    <div class="carousel-caption text-left">

                        <p><a class="btn btn-lg btn-caroussel" href="{{ caroussel.btnUrl }}" role="button">{{ caroussel.btnTitle }}</a></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    <hr class="featurette-divider container marketing text-center mx-auto">
    <div class="mb-5">
        <h2 class="mb-5 mt-5 text-center">Nos formules sur mesure</h2>
        <h4 class="text-center title-caroussel">"Découvrez nos formules sur mesure, conçues spécialement pour vous,<br/>
            afin de combler toutes vos envies gastronomiques."</h4>
    </div>

    <div id="formule-background">
        {% for menus in menu %}
            <div id="formule" class="container marketing">
                <h2 class="title-produit text-center">{{ menus.titre }}</h2>
                <div class="container text-center">
                    {% set foo = menus.formules %}
                    <div class="row align-items-start df-home">
                        {% for produit in foo %}
                            <div class="col">
                                <h6 class="mb-5">{{ produit.category }}</h6>
                               <h4 class="text-center mb-4 clamped-text2">{{ produit.name }}</h4>
                               <p class="clamped-text">{{ produit.description }}</p>
                               <p><span>{{ (produit.price / 100)|number_format(2, ',', '.')}} €</span></p>
                           </div>
                        {% endfor %}

                    </div>
                </div>
                <div class="text-center mt-5">
                    <a href="{{ path('app_reservation') }}" role="button" class=" text-center btn-reservation-formule reservation-btn">Je Reserve !</a>
                </div>
            </div>
        {% endfor %}
    </div>


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">
    <div class="row" id="hours">
        <div class="col-lg-8 p-0 pt-5">
            {% if form_hours is not empty %}
                <div>
                    <div>
                        <div>
                            <h2 class="text-center"><span>Nos</span><br/> <span>Horaires d'ouverture</span></h2>

                        </div>
                    </div>
                    <div class="span-content-hours">
                        <hr class="featurette-divider span-hours">
                    </div>

                    <div class="day-hours mt-5">

                        {% for hour in form_hours %}
                            <div class="hours">
                                <p class="hour-jours text-center">{{ hour.jours }}</p>
                                <div >
                                    {% if hour.openHours %}
                                        <div class="hours-jours">
                                            <p class="mr-3">{{ hour.openHours|date('H:i') }}</p>
                                            <p class="hours-open-jours">{{ hour.closeHours|date('H:i') }}</p>
                                        </div>

                                    {% else %}

                                        <p colspan="2" class="text-center">Fermer</p>

                                    {% endif %}

                                    {% if hour.openhourssoir %}
                                        <div class="hours-jours">
                                            <p class="mr-3">{{ hour.openhourssoir|date('H:i') }}</p>
                                            <p>{{ hour.closehourssoir|date('H:i') }}</p>
                                        </div>

                                    {% else %}

                                        <p colspan="2" class="text-center">Fermer</p>

                                    {% endif %}



                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <p>Aucune heure d'ouverture n'est disponible pour le moment.</p>
            {% endif %}
        </div>
        <div class="col-lg-4 pl-0">

            <div class="mt-5">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d44678.57181258497!2d5.865152977312696!3d45.58228721781066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478ba85708695f63%3A0xd5c21acfa63d899c!2s73000%20Chamb%C3%A9ry!5e0!3m2!1sfr!2sfr!4v1684513485177!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>


    {% block javascript %}
    <script>
        let titleImgs = document.querySelectorAll('.title-img');
        let imgProducts = document.querySelectorAll('.img-produit');

        imgProducts.forEach((imgProduct, index) => {
        imgProduct.addEventListener('mouseover', () => {
            imgProduct.classList.add('img');
            titleImgs[index].style.display = "block";
        });

        imgProduct.addEventListener('mouseout', () => {
        imgProduct.classList.remove('img');
        titleImgs[index].style.display = "none";
    });
    });
    </script>
    {% endblock %}





    <!-- /END THE FEATURETTES -->
{% endblock %}
