{% extends 'base.html.twig' %}

{% block title %}Hello ReservationController!{% endblock %}

{% block content %}
        {% if notification %}
            <div class="alert alert-success">{{ notification }}</div>
            <hr>
        {% endif %}
        {% if notificationEchec %}
            <div class="alert alert-danger">{{ notificationEchec }}</div>
            <hr>
        {% endif %}
        {% if app.user %}

            <div class="form-reservation-content">
                <h2 class="mb-5 text-center">Formulaire de Réservation</h2>
                    {{ form_start(form) }}
                <div class="row g-2">
                    <div class="col-6">
                        {{ form_row(form.date) }}
                    </div>
                    <div class="col-6">
                        {{ form_row(form.couverts) }}
                    </div>
                    <div class="col-6">
                        {{ form_row(form.name, {'value': app.user.firstname, 'attr': {'readonly': true}}) }}
                    </div>
                    <div class="col-6">
                        {{ form_row(form.lastname, {'value': app.user.lastname, 'attr': {'readonly': true}}) }}
                    </div>
                    <div class="col-12">
                        {{ form_row(form.email, {'value': app.user.email, 'attr': {'readonly': true}}) }}
                    </div>

                    <div class="col-6">
                        {{ form_row(form.allergie) }}
                    </div>
                        {{ form_row(form._token) }}

                        {% if times %}
                            <div class="col-6">
                            {{ form_row(form.Heure) }}
                            </div>
                            <div class="btn-rez-countainer">
                            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-outline-success btn-rez text-center'}}) }}
                            </div>
                            {% if notification %}
                                <button class="btn btn-outline-dark">Retourner sur la Page d'acceuil</button>

                            {% endif %}

                        {% else %}
                            <div class="col-6">
                                <p>Pas de créneaux disponible</p>
                            </div>
                    {% endif %}

                    {{ form_end(form) }}
                </div>
            </div>



        {% else %}

            <div class="form-reservation-content">
                <h2 class="mb-5 text-center">Formulaire de Réservation</h2>
                {{ form_start(form) }}
                <div class="row g-2">
                    <div class="col-6">
                        {{ form_row(form.date) }}
                    </div>
                    <div class="col-6">
                        {{ form_row(form.couverts) }}
                    </div>
                    <div class="col-6">
                        {{ form_row(form.name) }}
                    </div>
                    <div class="col-6">
                        {{ form_row(form.lastname) }}
                    </div>
                    <div class="col-12">
                    {{ form_row(form.email) }}
                    </div>


                    <div class="col-6 text-center">
                        {{ form_row(form.allergie, {'label_attr': {'class': 'allergie'}, 'attr': {'class': 'reservation-allergie'}}) }}

                    </div>

                        {% if times %}
                            <div class="col-6 text-center">
                                {{ form_row(form.Heure) }}
                            </div>
                            <div class="btn-rez-countainer">
                                {% if notification %}

                                        <a href="{{ path('app_home') }}" role="button" class="btn btn-outline-dark mr-5 btn-rez">
                                            Retourner à la page d'acceuil
                                        </a>

                                {% endif %}

                                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-outline-success btn-rez text-center'}}) }}
                            </div>
                        {% else %}
                            <div class="col-6">
                            <p>Pas de créneaux disponible</p>
                            </div>
                        {% endif %}

                    {{ form_end(form) }}
                </div>
            </div>
        {% endif %}


        {% block javascripts %}
            <script>
                var dateField = document.querySelector('#reservation_date');
                dateField.addEventListener('change', function(event) {
                    event.preventDefault();
                    var newDate = dateField.value;
                    var currentUrl = window.location.href;
                    var newUrl = currentUrl.replace(/\/reservations.*/, '/reservations/' + newDate);

                    window.location.replace(newUrl);
                });

                let parentDiv = document.querySelector('#reservation_Heure');
                /*let formCheckDivs = parentDiv.querySelectorAll('.form-check');
                formCheckDivs.forEach(function(div) {
                    div.classList.add('btn');
                }); */





            </script>
        {% endblock %}

    </div>



{% endblock %}
