{% extends 'base.html.twig' %}

{% block title %}Nos Produits{% endblock %}

{% block content %}



    <div>
        <div id="menu-title-container">
            <h1 class="text-center text-white mb-5">Nos Menus</h1>
            <p>
                "Plongez dans une expérience gastronomique d'exception avec nos menus élégamment conçus,<br/> où chaque plat est une harmonie savoureuse qui révélera les délices de notre savoir faire."
            </p>
        </div>

        {% for cat in categories %}

            <div class="produit-content">


                <h2 class="title-produit text-center mb-5">{{  cat.name }}</h2>
                {% set foo = cat.nosProduits %}

                <div class="row g-2">
                    {% for bar in foo %}
                        <div class="col-lg-6">
                            <div class="d-flex card-produit">
                                {% if bar.illustration %}
                                <div id="img" class="img-produit">
                                    <img src="/Uploads/{{ bar.illustration }}" alt="{{ bar.name }}" class="img-fluid">
                                </div>
                                {% endif %}
                                <div class="card-body">
                                    <h3 class="text-center mb-5 clamped-text1">{{   bar.name }}</h3>
                                    <h3 id="title-img-produit" class="title-img">{{ bar.titreIllustration }}</h3>
                                    <p class="clamped-text5">{{ bar.description }}</p>
                                    <p class="produit-price">{{ (bar.price / 100)|number_format(2, ',', '.')}} €</p>
                                </div>
                                <div class="text-center mt-5">
                                    <button class="text-center btn-reservation">
                                        <a href="{{ path('app_reservation') }}" role="button" class="reservation-btn">Reserver</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <hr class="featurette-divider">
        {% endfor %}
    </div>


    {% block javascript %}
    <script>
        let titleImgs = document.querySelectorAll('.title-img');
        let imgProducts = document.querySelectorAll('.img-produit');

        imgProducts.forEach((imgProduct, index) => {
        imgProduct.addEventListener('mouseover', () => {
            imgProduct.classList.add('img');
            titleImgs[index].style.display = "block";
        });

        imgProduct.addEventListener('mouseout', () => {
        imgProduct.classList.remove('img');
        titleImgs[index].style.display = "none";
    });
    });
    </script>
    {% endblock %}


{% endblock %}