{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block content %}
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
        <hr>
    {% endif %}
    <div id="form">
        <div id="form-content" class="">

            <h2 class="text-center">Inscription</h2>

            {{ form_start(form, {'attr': {'class': 'row g-2 mt-5'}}) }}
            <div class="col-lg-6 padding-right pd-1">
                {{ form_row(form.lastname, {'attr': {'class': 'label-signup'}}) }}
            </div>
            <div class="col-lg-6 padding-left pd-1">
                {{ form_row(form.firstname, {'attr': {'class': 'label-signup'}}) }}
            </div>
            <div class="col-lg-12 pd-1">
                {{ form_row(form.email, {'attr': {'class': 'label-signup','placeholder': '@'}}) }}
            </div>
            <div class="col-lg-6 padding-right pd-1">
                {{ form_row(form.password, {'attr': {'class': 'label-signup'}}) }}
            </div>
            <div class="col-lg-6 padding-left pd-1">
                {{ form_row(form.alergieType, {'attr': {'class': 'label-signup'}}) }}
            </div>
            <div class="mt-5 text-center inscription">
                {{ form_row(form.submit, {'attr': {'class': 'btn btn-outline-success btn-sign-in'}}) }}
                <small><a href="{{ path('app_login') }}">Déjà inscrit ? Connectez-vous</a> </small>
            </div>
            {{ form_end(form) }}
        </div>
    </div>


{% endblock %}
