<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>Quai Antique</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">

    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{{ asset('assets/css/carousel.css') }}" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div id="navbar-phone">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="container-img-logo">
                <a href="{{ path('app_home') }}"><img src="{{ asset('imgLogo/logo.png') }}" id="img-logo-nav"></a>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto pl-4">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_home') }}">Accueil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_produits') }}">Nos Menus</a>
                </li>
            </ul>
            <div class="navbar-item-custom">
                {% if app.user %}
                <a href="{{ path('app_account') }}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-user"><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg><small>({{ app.user.firstname }})</small></a> |
                <a href="{{ path('app_logout') }}">Deconnexion</a>
                {% else %}
                <a href="{{ path('app_login') }}">Connexion</a> | <a href="{{ path('app_register') }}">Inscription</a>
                {% endif %}
            </div>
        </div>
    </nav>
</header>

<main role="main">


    <div class="mbottom">
        {% block content %}

        {% endblock %}


    </div><!-- /.container -->

    <!-- FOOTER -->
    <footer>
        <div class="footer-container">
            <ul class="ul-container">
                <li><a href="tel:+33606060606">Contact</a></li>
                <li><a href="{{ path('app_propos') }}">A propos</a> </li>
                <li><a href="{{ path('app_cgu') }}">(CGU) Condition d'utilisation</a></li>
            </ul>
            <ul>
                <li><a href="#"><img src="{{ asset('imgTest/icons8-facebook.svg') }}"></a></li>
                <li><a href="#"><img src="{{ asset('imgTest/icons8-instagram.svg') }}"></a></li>
                <li><a href="#"><img src="{{ asset('imgTest/icons8-twitter.svg') }}"></a></li>
            </ul>
        </div>

    </footer>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>
</body>
</html>